@charset "UTF-8";

.fc-day-sat {
	
    background-color: rgb(234, 234, 255);
}

.fc-day-sun {
    
    background-color: rgb(255, 237, 237);
}

.schout {
  width: 700px;
  height: 850px;
}

.schin {
  width: 500px;
  height: 700px;
}

.fc-event-title {
    color: white;
}

.innerModalrow {
	margin: 10px;
   
}

#editContent {
  resize: none;
}

.labeAlign {
    line-height: 40px;
   
}

#alarmContent {
	text-align: center;
  font-weight: bold;
}

.jconfirm .jconfirm-box.jconfirm-type-schcustom {
  border-top: solid 7px #1843ca;
  -webkit-animation-name: type-schcustom;
  animation-name: type-schcustom;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-schcustom {
  background-color: #1843ca;
  color: #fff;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-schcustom:hover {
  background-color: #333;
  color: #fff;
}

.inputRadius {
  border-radius: 5px;
  border: 1px rgb(214, 214, 214) solid;
}

.inputRadius:focus {
  border-radius: 5px;
  border: 1px rgb(175, 175, 175) solid;
 outline: none;
}